<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/global.css" />
    <link rel="stylesheet" href="/style/pages/home.css" />
    <title>Site de postagens</title>
  </head>
  <body>
    <header>
    
      <a href="/mainRoute/createPost" class="createNewPostLink">
          <img src="/assets/images/headerImages/add.png" alt="adicionar novo post"/>
          <p>novo post</p>
      </a>

      <h1>POSTAGENS</h1>

        <a href="/mainRoute/account" class="accessContLink">
          <img src="/assets/images/headerImages/conta.png" alt="conta" />
            <p>conta</p>
        </a>
        
    </header>

    <section class="sectionCentral">
      <% for(let i=0;i<novoPost.length;i++){ %>
        <div class="post">
            <div class="postContent">
                <h1><%= novoPost[i].titulo %></h1>
            <p><%=novoPost[i].conteudo  %></p>
            </div>
            <div class="postsProperties">
                <img src="/assets/images/postsImages/delete.png" alt="del">
                <img src="/assets/images/postsImages/favorite.png" alt="fav">
                <img src="/assets/images/postsImages/settings.png" alt="set">
            </div>
        </div>
        <% } %>
    </section>

    <footer>
      <h2>basicos</h2>
      <p>git</p>
      <p>email</p>
      <p>insta</p>
    </footer>

    <script src="/script/dom/home.js"></script>
  </body>
</html>
