<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/style/global.css" />
    <link rel="stylesheet" href="./src/pages/home/index.css" />
    <title>Site de postagens</title>
  </head>
  <body>
    <header>
      
      <button type="button">
        <div class="headerImagens">
          <img src="./src/assets/images/headerImages/add.png" alt="adicionar novo post" />
          <p>novo post</p>
        </div>
      </button>

      <h1>POSTAGENS</h1>
      <button>
        <div class="headerImagens">
            <img src="./src/assets/images/headerImages/conta.png" alt="conta" />
            <p>conta</p>
        </div>
      </button>
    </header>

    <section class="sectionCentral">
        <div class="post">
            <div class="postContent">
                <h1>Fiz um site gratuito</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorum sapiente accusamus neque incidunt. Rem sit vitae harum aspernatur quidem enim cupiditate amet? Unde harum autem natus tempore quo consectetur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorum sapiente accusamus neque incidunt. Rem sit vitae harum aspernatur quidem enim cupiditate amet? Unde harum autem natus tempore quo consectetur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolorum sapiente accusamus neque incidunt. Rem sit vitae harum aspernatur quidem enim cupiditate amet? Unde harum autem natus tempore quo consectetur?
            </p>
            </div>
            
            <div class="postsProperties">
                <img src="./src/assets/images/postsImages/delete.png" alt="del">
                <img src="./src/assets/images/postsImages/favorite.png" alt="fav">
                <img src="./src/assets/images/postsImages/settings.png" alt="set">
            </div>
        </div>
        



    </section>

    <footer>
      <h2>basicos</h2>
      <p>git</p>
      <p>email</p>
      <p>insta</p>
    </footer>
  </body>
</html>
