<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/pages/login.css">
    <link rel="stylesheet" href="/style/global.css" />
    <link rel="stylesheet" href="/style/components/button.css" />
    <title>Login</title>
</head>
<body>
    <section >
        <div class="loginAccount">
            <h1>Login</h1>
            <div>
                <form action="/mainRoute/logging" method="post">
                    <div>
                        <label for="">Nome/Email:</label>
                        <input type="text email">
                    </div>
                    <div>
                        <label for="">Senha:</label>
                        <input type="password">
                    </div>
                    <div class="loginOrCreateAccount">
                        <button type="submit">Logar</button>
                        <a href="/mainRoute/createAccount">criar conta</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>